*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* logo bölümü */
.logobox{
    margin: 10px 0;
    padding: 5px;
  }



/* arama bölümü */
.searchbox{
    background-color: rgb(233, 230, 230);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.searchtext{
    padding: 3px 0;
}

.textarea{
    width: 300px;
}

/*Bilgi Bölümü*/

.infoarea{
   display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.searches{
    margin-top: 5px;
    background-color:#7ee5da ;
    width: 35%;
    text-align: center;
}

.searches>ul {
    list-style: none;
    padding: 10px;
}

.info{
    margin-top: 5px;
    margin-left: 2px;
    text-align: center;
    width: 25%;
    background-color: #70ccc2;
}
.info>ul{
    list-style:none;
}

.contact{
    margin-top: 5px;
    margin-left: 2px;
    text-align: center;
    background-color: #62b3aa;
    width: 40%;

}
/*Copyright Bölümü*/

.copyright{
    margin: 5px 20px;
    text-align: center;
    padding: 20px;
}


